@model Infnet.DotnetProject.Assessment.Domain.Post

@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Create Post</h2>
<br />
@using (Html.BeginForm("PostImage", "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="well">
        <form class="form-horizontal" role="form">
            <h4>What's New?</h4>
            <div class="form-group" style="padding:14px;">
                <textarea class="form-control" placeholder="Update your status" name="Content"></textarea>
                <br />
                <div class="fileUpload btn btn-primary">
                    @*<span>Upload</span>*@
                    <input type="file" class="upload" name="photo" />
                </div>
                <br />
                <br />
                <button class="btn btn-success" type="submit">Post</button>
            </div>
        </form>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
